footer {
    background-color: #2c5691;   
    color: #d5d5d5;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 3rem;
    position: fixed;


  }


   @media all and (max-width:600px) {
    footer {
      padding-left: 1rem;
      padding-right: 0rem;
    
    }
   }